<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.dao.GoodsDao">

    <select id="FindBySearch" resultType="com.example.entity.Goods">
        select * from GOODS
        <where>
            <if test="params != null and params.goodsname != null and params.goodsname != ''">
                and goodsname like concat('%', #{params.goodsname},'%')
            </if>
        </where>
    </select>
</mapper>